{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{% if element['#form_id'] == 'search_block_form' %}
  <div id="searchbox">
    <form action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8" data-drupal-form-fields="edit-keys,searchbox-btn">
      <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" type="text"
             id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search form-control" placeholder="Site Search">
      <input id="searchbox-btn" type="image" value="Submit" name="search" alt="Site Search" src="/themes/contrib/ucla_gateway/img/search-btn.gif">

    </div>
  </form>
    {% else %}
      <form{{ attributes }}>
        {{ children }}
  </form>
{% endif %}