<div id="ie6Warning"></div>
<!-- Page Wrap -->
<div id="page-wrap">
  <!-- Top Bar -->
  {{ page.top_bar }}
  <ul class="hide" id="skip-nav">
    <li><a href="#audience-nav">Skip to Audience Navigation</a></li>
    <li><a href="#main-nav">Skip to Main Menu</a></li>
    <li><a href="#searchform">Skip to Search</a></li>
    <li><a href="#main-content">Skip to Main Content</a></li>
  </ul>
  <div id="top-bar" role="navigation">
    <div id="top-bar-content">
      <a href="http://www.ucla.edu/" id="edu-link">UCLA.edu</a>
      <ul id="audience-nav">
        <li><a href="http://www.library.ucla.edu/">UCLA Library</a></li>
        <li><a href="https://gseis.ucla.edu/">UCLA GSEIS</a></li>
        <li><a href="http://www.sr.ithaka.org/">Ithaka S+R</a></li>
      </ul>
    </div>
  </div>
  <!-- End Top Bar -->
  <!-- Header -->
  <span id="print-logo"><img src="./img/logo-print.gif"></span>
  <div id="header" role="banner">

    <!-- Header Content -->
      {{ page.header }}

    <div id="container" class="full-page department-page">
      <!-- Main -->
      <div id="main-content" role="main">
          {{ page.secondary_nav }}
        
          {{ page.content }}
        </div>
      </div><!--End main-content -->
      <!-- End Container -->
      <div id="footer-push"></div>
    </div>
    <!-- End Page Wrap -->
    <!-- Footer -->
    <div id="footer">
      <div id="footer-content">
        <ul id="footer-nav">
          <li><a href="http://ucla.edu">UCLA.edu</a></li>
          <li><a href="http://library.ucla.edu">UCLA Library</a></li>
          <li>© 2014–2017 UC Regents</li>

        </ul>
        <ul id="contact-info">
          <li>Department Name</li>
          <li>Street</li>
          <li>Los Angeles, CA 90095</li>
          <li>555.555.5555</li>
        </ul>
      </div>
    </div>
    <!-- End Footer -->